<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Canvas Draw</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="saveImage()">
                <ion-icon name="save" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content #scrollArea>
    <div #canvasWrapper class="canvasWrapper" style="background: white; height: 100%">
        <canvas #signatureCanvas style="border:1px solid #000000;">
        </canvas>
    </div>
</ion-content>
