<ion-app>
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>Canvas Signature Pad</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content slot="fixed">
        <div class="canvasWrapper" style="background: white; height: 80%">
            <canvas #signatureCanvas style="border:1px solid #000000;">
            </canvas>
        </div>
    </ion-content>

    <ion-footer>
        <ion-button (click)="clearSignature()" color="danger">
            Clear
        </ion-button>
        <ion-button (click)="saveImage()" color="primary">
            Save
        </ion-button>
    </ion-footer>
</ion-app>
